.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover, &:focus, &:active {
    background-color: darken($primary, 20%) !important;
    border-color: darken($primary, 20%) !important;
  }
}

.btn, .btn-primary {
  font-weight: 600;
  color: white;
  font-size: 21px;
  padding: 12px 30px !important;
  background: $primary !important;
  border: none !important;
  border-radius: 5px;
  white-space: normal;
  margin-bottom: 10px;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;

  &:hover {
    color: white;
    background: $primary-md !important;
    top: 1px;
    position: relative;
  }
}

.btn-green {
  background: $secondary !important;

  &:hover {
    background: $secondary-md !important;
  }
}

.btn-hollow {
  background: none !important;
  border: 2px solid $primary !important;
  color: $primary;
  text-shadow: none;

  svg {
    margin-left: 30px;
  }

  &:hover {
    background: rgba($primary, 0.15) !important;
    color: $primary;
  }
}

.btn-hollow-white {
  border: 2px solid white !important;
  color: white;

  &:hover {
    background: rgba(white, 0.15) !important;
    color: white;
  }
}

.btn-sm {
  padding: 8px 20px !important;
  font-size: 16px;
  border-radius: 2px;
}
