description = "Footer navigation"
==
<!-- Footer -->
    <footer class="container-fluid padMe50">
	<div class="container">
	    <div class="row">
	    	<div class="col-lg-4 col-md-3">
	    		<a class="footer-brand" href="/">
		      		<img src="{{ 'assets/images/best-rate-referrals-logo.png' | theme }}" />
		      	</a>
	    	</div>
	    	<div class="col-md-2">
		    	<a class="footerLinkHeader" href="/purchase-mortgage-leads">Home Purchase Mortgage Leads</a>
				<a href="/home-purchase-loan-marketing">Home Purchase Loan Marketing</a>
		    	<a href="/home-refinance-loan-marketing">Home Refinance Loan Marketing</a>
				<a href="/reverse-mortgage-leads">Reverse Mortgage Leads</a>
				<a href="/niche-mortgage-lead-generation-programs">Mortgage Loan Types</a>
				<a href="/become-preferred-mortgage-lender">Become a Preferred Lender</a>
				<a href="https://www.mortgageadvisor.com" target="_blank">MortgageAdvisor.com</a>
				<br />
				<a  class="footerLinkHeader" href="/personal-loan-marketing">Personal Loan Marketing</a>
				<a href="/personal-loan-leads">Personal Loan Leads</a>
				<a href="/become-preferred-personal-loan-lender">Become a Preferred Lender</a>
				<a href="https://www.loanadvisor.com" target="_blank">LoanAdvisor.com</a>
	    	</div>
	    	
	    	<div class="col-md-2">
	    		<a  class="footerLinkHeader" href="/niche-mortgage-lead-generation-programs">Niche Mortgage Lead Generation Programs</a>
				<a href="/conventional-mortgage-loan-leads">Conventional Mortgage Loan Leads</a>
				<a href="/fha-mortgage-loan-leads">FHA Mortgage Loan Leads</a>
				<a href="/va-mortgage-loan-leads">VA Mortgage Loan Leads</a>
				<a href="/203k-mortgage-loan-leads">203k and Renovation Mortgage Loan Leads</a>
				<a href="/usda-mortgage-loan-leads">USDA Mortgage Loan Leads</a>
				<a href="/refinance-mortgage-loan-leads">Refinance Mortgage Loan Leads</a>
				<a href="/heloc-cashout-refinance-leads">HELOC &amp; Cash-Out Refinance Loan Leads</a>
				<a href="/reverse-mortgage-leads">Reverse Mortgage Leads</a>
	    	</div>
	    	
	    	<div class="col-md-2">
				<a  class="footerLinkHeader" href="/loan-marketing-products">Loan Marketing Products</a>
				<a href="/mortgage-personal-loan-leads">Mortgage &amp; Personal Loan Leads</a>
				<a href="/live-agent-transfers">Live Agent Transfers</a>
				<a href="/marketing-lists">Marketing Lists</a>
				<a href="/marketing-direct-mail">Direct Mailers</a>
				<a href="/telemarketing-mortgage-scripts">Mortgage Telemarketing Scripts</a>
				<a href="/multichannel-marketing-campaigns">Multi-Channel Marketing Campaigns</a>
				<a href="/performance-marketing-technology">Performance Marketing Technology</a>
	    	</div>
	    	
	    	<div class="col-md-3 col-lg-2">
	    		<a  class="footerLinkHeader" href="/about">About Best Rate Referrals</a>
				<a href="/our-team">Our Team</a>
				<a href="/our-partners">Our Partners</a>
				<a href="/licenses-awards-testimonials">Licenses, Awards &amp; Testimonials</a>
				<a href="https://insights.digitalmediasolutions.com/consumer-finance-marketing-news" target="_blank">Consumer Finance Marketing News</a>
				<a href="/newsroom">Newsroom</a>
				<a href="https://www.digitalmediasolutions.com" target="_blank">Digital Media Solutions</a>
				<br />
				<a  class="footerLinkHeader" href="/contact-us">Contact Us Today</a>
				<a href="phone:8008111402">(800) 811-1402</a>
				<a href="mailto:contact@bestratereferrals.com">contact@bestratereferrals.com</a>
				<br />
				<a  class="footerLinkHeader" href="/privacy-policy" target="_blank">Privacy &amp; Terms</a>
				<a href="/privacy-policy" target="_blank">Privacy Policy</a>
				<a href="/terms-conditions" target="_blank">Terms &amp; Conditions</a>
				<a href="/broker-disclosure" target="_blank">Mortgage Licenses</a>
				<a href="/sms-terms-conditions" target="_blank">SMS Terms &amp; Conditions</a>
	    		
	    	</div>
	    </div>
    	<div class="row padMe50">
    		<!-- Social Links -->
			<div class="col-md-4 text-center">
				
			</div>
			<div class="col-md-4 text-center">
				<a class="socialLink" href="https://www.linkedin.com/company/best-rate-referrals/" target="_blank"><img src="{{ 'assets/images/sm-linkedin.png' | theme }}" /></a>
				<a class="socialLink" href="https://twitter.com/BestRateLeads" target="_blank"><img src="{{ 'assets/images/sm-twitter.png' | theme }}" /></a>
				<a class="socialLink" href="https://www.facebook.com/BestRateReferralsLV" target="_blank"><img src="{{ 'assets/images/sm-facebook.png' | theme }}" /></a>
			</div>
			<div class="col-md-4 text-center">
				
			</div>
			<!-- /Social Links -->
		</div>
		<div class="row">
			<p class="text-center">&copy; Digital Media Solutions, LLC. All Rights Reserved. Digital Media Solutions and its logos are trademarks or registered trademarks of Digital Media Solutions, LLC. All other company and product names referenced herein are the property of their respective owners.</p>
    	</div>
    </div>  
    </footer>
    <!-- /Footer -->