description = "Navigation"
==
<!-- Navigation -->
	
    <nav class="navbar navbar-expand-xl fixed-top navbar-light">
    <div class="container-fluid contentSections">
	      <a class="navbar-brand" href="/">
	      	<img src="{{ 'assets/images/best-rate-referrals-logo.png' | theme }}" />
	      </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      
	      <div class="collapse navbar-collapse nav justify-content-end" id="navbarsExampleDefault">
	        <ul class="navbar-nav">
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="/purchase-mortgage-leads" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mortgage Marketing</a>
	            <ul class="dropdown-menu" aria-labelledby="dropdown01">
	              <li><a class="dropdown-item" href="/purchase-mortgage-leads">Mortgage Lead Overview</a></li>
	              <li><a class="dropdown-item" href="/home-purchase-loan-marketing">Home Purchase</a></li>
	              <li><a class="dropdown-item" href="/home-refinance-loan-marketing">Home Refinance</a></li>
	              <li><a class="dropdown-item" href="/reverse-mortgage-leads">Reverse Mortgage Leads</a></li>
	              <li><a class="dropdown-item" href="/niche-mortgage-lead-generation-programs">Loan Types</a></li>
	              
	              <!-- Sub Sub Menu -->
	              <!-- <ul class="navbar-nav level3">
			          <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" href="/mortgage-marketing" id="subdropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Loan Types</a>
			            <ul class="dropdown-menu" aria-labelledby="subdropdown01">
			              <li><a class="dropdown-item" href="/mortgage-marketing">Overview</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">Conventional Mortgage Loan Leads</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">FHA Mortgage Loan Leads</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">VA Mortgage Loan Leads</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">203k and Renovation Mortgage Loan Leads</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">USDA Mortgage Loan Leads</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">Refinance Mortgage Loan Leads</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">HELOC / Cash-Out Refinance Loan Leads</a></li>
			              <li><a class="dropdown-item" href="/mortgage-marketing">Reverse Mortgage Loan Lead</a></li>			            
	              		</ul>
	              	  </li>
	              </ul> -->
	              <!-- /Sub Menu -->	              
				      	              
	              <li><a class="dropdown-item" href="/become-preferred-mortgage-lender">Become A Preferred Mortgage Lender</a></li>
	            </ul>
	          </li>
	          
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="/personal-loan-marketing" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personal Loan Marketing</a>
	            <ul class="dropdown-menu" aria-labelledby="2">
	                <li><a class="dropdown-item" href="/personal-loan-marketing">Personal Loan Lead Overview</a></li>
                    <li><a class="dropdown-item" href="/personal-loan-leads">Personal Loan Leads</a></li>
                    <li><a class="dropdown-item" href="/become-preferred-personal-loan-lender">Become A Lender</a></li>
	            </ul>
	          </li>
	          
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="/loan-marketing-products" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
	            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    <li><a class="dropdown-item" href="/loan-marketing-products">Marketing Products Overview</a></li>
                    <li><a class="dropdown-item" href="/mortgage-personal-loan-leads">Mortgage &amp; Personal Loan Leads</a></li>
                    <li><a class="dropdown-item" href="/live-agent-transfers">Live Transfers</a></li>
                    <li><a class="dropdown-item" href="/marketing-lists">Marketing Lists</a></li>
                    <li><a class="dropdown-item" href="/marketing-direct-mail">Direct Mailers</a></li>
                    <li><a class="dropdown-item" href="/telemarketing-mortgage-scripts">Mortgage Telemarketing Scripts</a></li>
                    <li><a class="dropdown-item" href="/multichannel-marketing-campaigns">Multi-Channel Campaigns</a></li>
                    <li><a class="dropdown-item" href="/performance-marketing-technology">Marketing Technology</a></li>
	            </ul>
	          </li>  	      
    	      
    	      <!-- <li class="nav-item">
    	      <span class="navbar-text greenCall">
    	                        <a href="phone:8008111402">Call Us <img class="callBtn" src="{{ 'assets/images/call-icon.png' | theme }}" /></a>
    	                    </span>
    	      </li> -->
    	      
    	      <li class="nav-item dropdown hamburgerMenu">
	            <a class="nav-link dropdown-toggle hamburgerIcon" href="/loan-marketing-products" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://mdbootstrap.com/img/svg/hamburger4.svg?color=666" /></a>
	            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                    <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".loginModal">Account Login</a></li>
	                <li><a class="dropdown-item" href="/contact-us">Contact Us</a></li>
	                <li><a class="dropdown-item" href="/about">About Us</a></li>
	                <li><a class="dropdown-item" href="https://insights.digitalmediasolutions.com/consumer-finance-marketing-news" target="_blank">Finance Marketing News</a></li>
	                <li><a class="dropdown-item" href="https://mortgageadvisor.com" target="_blank">MortgageAdvisor.com</a></li>
	                <li><a class="dropdown-item" href="https://www.loanadvisor.com" target="_blank">Loan Advisor</a></li>
	            </ul>
	          </li>  
	          
	          <span class="navbar-text navPhone">
                <a href="phone:8008111402">(800) 811-1402</a>
            </span>
    	        
	        </ul>
	        
	        

	      </div>
      </div>
    </nav>
    <!-- /Navigation -->
    
     <!-- Login Modal -->
    <div class="modal fade bd-example-modal-sm loginModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content loginContainer">
          <iframe class="embed-responsive-item rebuttalsFrame" src="https://accounts.bestratereferrals.com/ExternalLogin.aspx" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
    </div>