description = "landing page 2 header"
==
<!-- Body Content -->
	<main role="main"> <!-- Header -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 hideOver box1 formHeader"></div>
			<div class="col-lg-6 hideOver box2 blueBoxContent formBox">
				<h1>Improve the quality of your mortgage leads.</h1>
				<form>
					<div class="row padMe15">
						<div class="col-md-6">
							<label class="sr-only" for="firstName">First Name</label>
							<input type="email" class="form-control" id="firstName" placeholder="First Name">
						</div>
						<div class="col-md-6">
							<label class="sr-only" for="lastName">Last Name</label>
							<input type="email" class="form-control" id="lastName" placeholder="Last Name">
						</div>
					</div>
					<div class="row padMe15">
						<div class="col-md-6">
							<label class="sr-only" for="emailAddres">Email</label> 
							<input type="email" class="form-control" id="emailAddres" placeholder="Email">
						</div>
						<div class="col-md-6">
							<label class="sr-only" for="phoneNumber">Phone</label> 
							<input type="email" class="form-control" id="phoneNumber" placeholder="Phone">
						</div>
					</div>
					<div class="row padMe15" >
						<div class="col-md-6">
							<label class="sr-only" for="companyName">Company</label>
							<input type="email" class="form-control" id="companyName" placeholder="Company">
						</div>
						<div class="col-md-6"></div>
					</div>
					<div class="row padMe15">
						<div class="col-md-12">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit commodo turpis, at commodo risus elementum at. Donec ultricies nulla nec viverra elementum. Praesent lacinia quis est et laoreet. Etiam vel viverra ante. Fusce varius consectetur fermentum. Nulla nec iaculis risus. Proin efficitur velit neque, eu dictum magna pulvinar in.
						</div>
					</div>
					
					<div class="row padMe15">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default  btn-lg greenBtn">Get Information</button>
							<p>Or call <a href="phone:18008111402">1-800-811-1402</a></p>
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /Header -->