description = "Used for linking to internal and third-party javascript. There shouldn't be any actual JavaScript in this file"
==
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-589H6VH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<!-- Fancy Animations -->
<script src="//unpkg.com/aos@next/dist/aos.js"></script>

<script src="{{ 'assets/js/app.js' | theme }}"></script>

{% framework extras %}
{% scripts %}

<script src="{{ '/assets/js/bootstrap.js' | theme }}"></script>
<script src="{{ '/assets/js/popper.js' | theme }}"></script>