==
<!DOCTYPE html>
<html lang="en">
    {% partial 'head-forms' %}

    <body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">
      <!-- <main role="main"> -->
        <div class="global-header">
            {% partial 'header' %}
        </div>
        <div class="global-page">
            {% page %}
        </div>
        
       
    
        <div class="global-footer">
            {% partial 'footer' %}
        </div>
        {% partial 'scripts' %}
      <!-- </main> -->
    </body>
</html>