description = "Footer navigation"

[builderList]
modelClass = "AndrewPe\Crm\Models\Campaign"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "name"
sortDirection = "asc"
==
<!-- Footer -->
    <footer class="container-fluid padMe50">
	<div class="container">
	    <div class="row">
	    	<div class="col-lg-4 col-md-3">
	    		<a class="footer-brand" href="/">
		      		<img src="{{ 'assets/images/wht-turnkey-logo-small.png' | theme }}" />
		      	</a>
		      	<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=iJP3xkdvMnKngvrTktkRAkyqhL4vI1NTwmjoTh8gOyR35ErQ26k3Tw5fjVMb"></script></span>
	    	</div>
	    	<div class="col-md-4">
	    		<a  class="footerLinkHeader" href="#">Categories</a>
	    		<div class="row">
	    		{% for record in records %}
                        {# Use spaceless tag to remove spaces inside the A tag. #}
                        {% spaceless %}
                        <div class="col-md-6 col-sm-12">
                            <a href="{{ record.page_url }}">
                            {{ record.name }}
                            </a>
                            </div>
                        {% endspaceless %}
                {% else %}
                 <div class="col-sm-12">
                    {{ noRecordsMessage }}
                    </div>
                {% endfor %}
                </div>
	    	</div>
	    	
	    	<div class="col-md-3">
				<a  class="footerLinkHeader" href="/contact-us">Contact Us Today</a>
				<a href="8005610580">(800) 561-0580</a>
				<a href="mailto:support@turnkeyofficesolutions.com">support@turnkeyofficesolutions.com</a>
	    		
	    	</div>
	    </div>
    	<div class="row padMe50">
    		<!-- Social Links -->
			<div class="col-md-4 text-center">
				
			</div>
			<div class="col-md-4 text-center">
				
			</div>
			<!-- /Social Links -->
		</div>
		<div class="row">
			<p class="text-center white">&copy; Turnkey Office Solutions. All Rights Reserved. Turnkey Office Solutions and its logos are trademarks or registered trademarks of Turnkey Office Solutions. All other company and product names referenced herein are the property of their respective owners.</p>
			
    	</div>
    </div>  
    </footer>
    <!-- /Footer -->