description = "Landing Page 2"
==
<!DOCTYPE html>
<html lang="en">
    {% partial 'head' %}

    <body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">
    
      
        <div class="global-header">
            {% partial 'header' %}
        </div>
        <div class="global-page">
            {% partial 'landing-page-two-header' %}
            {% page %}
        </div>
        
        <!-- Pre Footer (Green Bar) -->
        {% partial "green-bar" %}
        <!-- /Pre Footer -->
    
        <div class="global-footer">
            {% partial 'footer' %}
        </div>

        {% partial 'scripts' %}
      
    </body>
</html>