==
<!DOCTYPE html>
<html lang="en">
    {% partial 'head' %}

    <body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">
    
        <div class="global-header">
            {% partial 'header' %}
        </div>
        <div class="global-page">
            {% page %}
        </div>
        
        <!-- Pre Footer (Green Bar) -->
        {% partial "product-green-bar-scripts" %}
        <!-- /Pre Footer -->
        
        <div class="global-footer">
            {% partial 'footer' %}
        </div>

        {% partial 'scripts' %}
      
    </body>
</html>