// Helpers:
@import "helpers/colors";
/*@import "helpers/buttons";*/
/*@import "helpers/typography";*/

// Layouts:
/*@import "layouts/default";*/

// Pages:
/*@import "pages/home";
@import "pages/form";*/

/* Colors
blue: #0082ca
green: #3DAE2B
lime: #93D500
white: #fff;
*/

$imagePath : "/themes/turnkey/assets/images";



/******************************/
/*       Global Classes       */
/******************************/

html, body, div, p{
	font-family: 'Avenir', Arial, sans-serif;
	color:#666;

}

a{
	color:#0082ca;
	cursor:pointer;
}
.white{
	color:#fff;
}
h2{
	font-size:60px;
}

.h3, h3 {
    font-size: 1.5rem;
}

h4{
	font-size:1.3rem;
	text-transform:uppercase;
	letter-spacing:2px;
}
.white {
	color:#fff;
}
img{
	max-width:100%;
}

.blue-header strong {
	font-family : Avenir;
  font-size : 22px;
  line-height : 27px;
  color : #4268B1;
  color : rgb(66, 104, 177);
}

/******************************/
/*         Navigation         */
/******************************/

.navbar-brand img{
	max-width:290px;
}

nav{
	background-color:#4268B1;
	padding:45px 20px !important;
}

nav a{
	color:#666;
}

nav a:hover{
	color:#c5c5c5;
}

nav li{
	margin-right:40px;
}

nav li ul li{
	margin-right:0;
}

.active{
	border-bottom:2px solid #0082ca;
}

.dropdown-menu .subActive{
	color:#0082ca;
	position:relative;
}

.dropdown-menu .subActive::before{
	content: ">> ";
	color:#0082ca;
}

.navbar-light .navbar-nav .level3 .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: none;
    background-color: #f8f9fa;
    color:#000;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.level3 .nav-item.dropdown{
	padding-left:1rem;
	width:100%;
}

.level3 .nav-item.dropdown a{
	color:#000;
}

.level3 .dropdown-toggle::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: 0;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}

.hamburgerMenu{
    @media (min-width:1200px){
        width:40px;
        height:40px;
    }
    width:100%;
}
.black {
 color:#000;
}
.hamburgerMenu > a{
     width:40px;
}
.alert-success { 
 background-color: #1e7e34;
}
.alert-danger {
    background-color: #721c24;
}
.hamburgerMenu .nav-link:hover{
     background-color:transparent !important;
}

.hamburgerMenu .dropdown-toggle::after{
    border:none;
}

 .hamburgerIcon{
 	@media(min-width:1199px){
    	margin:0 auto;
    }
 }

.navbar-light .navbar-text a {
    color: rgba(0,0,0,.5);
}

.loginContainer{
    padding: 20px;
    width: 340px;
    height: 350px;
}

.navPhone{
     white-space:nowrap;
}

.search-container {
position: relative;
    width: 100%;
}
.search-field{
    height: 50px;
    width: 100%;
    padding: 0 25px;
    line-height: 50px;
    font-size: 2.25rem;
    border-radius: 25px;
    border: 1px solid #CDCDCD;
    outline: none;
}
.submit-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 44px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 22px;
}
/******************************/
/*         Home Classes       */
/******************************/

main{
	margin-top:160px;
}


.headerShape{
	padding: 250px 0 0 80px;
}

.headerShape:before{
	content: "";
    color: #fff;
    transform: skewX(-10deg);
    width: 40%;
    height: 400px;
    position: absolute;
    z-index: 0;
    left:-50px;
    margin-top:-90px;
}

.headerShape.blueShape:before{
	background-color: rgba(21,123,209, .8);
}

.headerShape.greenShape:before{
	background-color: rgba(88,181,2, .8);
}

.box1{
	background:url(#{$imagePath}/contact-banner-new.jpg) no-repeat left top;
	height: 810px;
    background-size: cover;
    border-right:5px solid #fff;
}

.box2{
	background:url(#{$imagePath}/personal-loan.jpg) no-repeat left top;
	height: 757px;
    background-size: cover;
    border-left:5px solid #fff;
}

.headerShape h2,
.headerShape p{
	position:relative;
	z-index:99;
	color:#fff;
}

.hideOver{
	overflow:hidden;
}

.boxImage{
	background-size:110% !important;
	transition: all 0.5s ease !important;
	margin-top:0px; /*20*/
}

.boxImage:hover{
	background-size:105% !important;
}

.home1{
	background:url(#{$imagePath}/business-meeting.jpg) no-repeat center center;
}

.home1:hover{
	background-size:100% !important;
}

.home2{
	background:#0082ca;
}

.home2 img{
	max-width:100%;
	max-height:95px !important;
}

.home3{
	background:url(#{$imagePath}/loan-advisor-phone.jpg) no-repeat center center;

	background-position: 0 -145px;

	@media (max-width:1900px){
		background-position: 0 0;
	}
}

.home4{
	background:url(#{$imagePath}/happy-family.jpg) no-repeat center center;
	background-position: -30px -170px;
	@media (max-width:1900px){
		background-position: 0 0;
	}
}

.home5{
	background:url(#{$imagePath}/cell-phone.jpg) no-repeat center center;
}

.home6{
	background:url(#{$imagePath}/charts.jpg) no-repeat center center;
	background-position: -30px -400px;
	@media (max-width:1900px){
		background-position: 0 0px;
	}
}

.radio-btn {
	width:100%;
	margin: 20px 0px ;
	display:block;
	text-align:left;
	white-space: normal;
}
.q-icon-format {
	font-size:48px;vertical-align:middle;
	
	margin: 20px 0;
}

.boxContent{
	padding:20px 40px;
}

@media (max-width:1200px){
	.boxList1{
		margin-bottom:0;
	}
}
/******************************/
/*       Privacy Page         */
/******************************/
.page-privacy-policy {
  h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 1rem;
    text-transform: none;
    letter-spacing: 0;
    font-weight: bold;
  }
}

/******************************/
/*    Landing Page Classes    */
/******************************/


.heroImage{
	height:475px;
	background-size:cover;
	background:url(#{$imagePath}/mortgage-banner-bg.jpg);
	background-attachment: fixed;
}
.heroImage h1{
	font-size:76px;
	color:#fff;
}

.homeRefiHero{
	background:url(#{$imagePath}/home-refinance-banner-bg-2.jpg);
	background-attachment: fixed;
}
.home-bg{
    height:475px;
    
    background-size:cover;
    background:url(#{$imagePath}/home-bg.jpg) no-repeat center;
    background-attachment: fixed;
    
}
.bg-holder {
	height:475px;
	width: auto;
	color:#fff;
	position: relative;
	 z-index: 5;
}
.new-home-bg{
    height:475px;
    width:100%;
    position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    background-size:cover;
    background:url(#{$imagePath}/turnkey-background.jpg) no-repeat top;
    background-attachment: fixed;
}
.bg-layer {
	height:100%;
  	background : rgba(66, 104, 177, 1);
	opacity: 0.5;
	width:100%;
}
.new-home-bg h1{
	color:#fff;
    position: absolute;
    top: 55px;
    left: 200px;
    font-size: xxx-large;
    font-family: Avenir;
    font-size: 47px;
    line-height: 52px;
    letter-spacing: -0.47px;
	
}
.new-home-bg img {
	position: absolute;
    top: 0px;
    left: 856px;
    height: 100%;
    }
.orange-box {
	border-radius: 5px;
    background: #f19421;
    width: 300px;
    padding: 20px;
}
.orange-box p {
	color:#fff;
	line-height:15px;
}
.obox1 {
	position: absolute;
    top: 170px;
    left: 210px;
    height: 135px;
}

.obox2 {
	position: absolute;
    top: 170px;
    left: 520px;
    height: 135px;
}

 .obox3 {
	position: absolute;
    top: 315px;
    left: 210px;
}

 .obox4 {
	position: absolute;
    top: 315px;
    left: 520px;
}

.provider-txt p {
	 font-family : Avenir;
  font-size : 14px;
  line-height : 35px;
  letter-spacing : -0.14px;
  color : #414042;
  color : rgb(65, 64, 66);
}

.provider-txt img {
	margin-right:25px;
}

.head1 {
	font-family : Avenir;
  font-size : 33px;
  line-height : 35px;
  letter-spacing : -0.33px;
  color : #414042;
  color : rgb(65, 64, 66);
}

.content1 {
	 font-family : Avenir;
  font-size : 20px;
  line-height : 28px;
  color : #414042;
  color : rgb(65, 64, 66);
}
.bggrey {
background : #f1f2f2;
}
.page-not-found-bg{
    height:475px;
    background-size:cover;
    background:url(#{$imagePath}/turnkey-background.jpg) no-repeat center ;
    background-attachment: fixed;
    
}
.page-not-found-bg h1 {
	color:#fff;
}
.homePurchase{
	background:url(#{$imagePath}/home-purchase-banner-bg-2.jpg);
	background-attachment: fixed;
}

.reverseMtgHero{
	background-size:cover;
	background:url(#{$imagePath}/reverse-mortgage-banner-bg-2.jpg);
	background-attachment: fixed;
}

.loanTypeHero{
    background:url(#{$imagePath}/mortgage-types-bg.jpg);
	background-attachment: fixed;
}

.becomeLender{
    background:url(#{$imagePath}/become-mortgage-lender-bg.jpg);
	background-attachment: fixed;
}

.personalLoan{
    background:url(#{$imagePath}/personal-loan-bg.jpg);
	background-attachment: fixed;
}

.personalLeads{
    background:url(#{$imagePath}/personal-loan-leads-bg.jpg);
	background-attachment: fixed;
}

.personalLender{
    background:url(#{$imagePath}/become-personal-lender.jpg);
	background-attachment: fixed;
}

.mm1{
	background:url(#{$imagePath}/mortgage-marketing-home-purchase.jpg) no-repeat center;
}


.mm2{
	background:url(#{$imagePath}/mortgage-marketing-home-refinance.jpg) no-repeat center;
}

.mm3{
	background:url(#{$imagePath}/mortgage-marketing-reverse-mortgage.jpg) no-repeat center;
}

.mm4{
	background:url(#{$imagePath}/mortgage-marketing-loan-types.jpg) no-repeat center;
}

.mm5{
	background:url(#{$imagePath}/mortgage-marketing-mortgageadvisor.jpg) no-repeat center;
}

.graduate{
    background:url(#{$imagePath}/graduate.jpg) no-repeat center;
}

.wedding{
    background:url(#{$imagePath}/bride-and-groom.jpg) no-repeat center;
}

.mortgage-personal-loan-leads{
    background:url(#{$imagePath}/mortgage-personal-loan-leads.jpg) no-repeat center;
}

.mortgage-personal-loan-leads-bg{
    background:url(#{$imagePath}/mortgage-personal-loan-leads-bg.jpg) no-repeat center;
}

.live-agent-transfers{
    background:url(#{$imagePath}/live-agent-transfers.jpg) no-repeat center;
}

.live-agent-transfers-bg{
    background:url(#{$imagePath}/live-agent-transfers-bg.jpg) no-repeat center;
}

.marketing-lists{
    background:url(#{$imagePath}/marketing-lists.jpg) no-repeat center;
}

.marketing-lists-bg{
    background:url(#{$imagePath}/marketing-lists-bg.jpg) no-repeat center;
}

.marketing-direct-mail{
    background:url(#{$imagePath}/marketing-direct-mail.jpg) no-repeat center;
}

.marketing-direct-mail-bg{
    background:url(#{$imagePath}/marketing-direct-mail-bg.jpg) no-repeat center;
}

.marketing-scripts{
    background:url(#{$imagePath}/marketing-scripts.jpg) no-repeat center;
}

.marketing-scripts-bg{
    background:url(#{$imagePath}/marketing-scripts-bg.jpg) no-repeat center;
}

.multichannel-marketing-campaigns{
    background:url(#{$imagePath}/multichannel-marketing-campaigns.jpg) no-repeat center;
}

.multichannel-marketing-campaigns-bg{
    background:url(#{$imagePath}/multichannel-marketing-campaigns-bg.jpg) no-repeat center;
}

.performance-marketing-technology{
    background:url(#{$imagePath}/performance-marketing-technology.jpg) no-repeat center;
}

.performance-marketing-technology-bg{
    background:url(#{$imagePath}/performance-marketing-technology-bg.jpg) no-repeat center;
}

.conventional-mortgage-loan-leads{
    background:url(#{$imagePath}/conventional-mortgage-loan-leads.jpg) no-repeat center;
}

.conventional-mortgage-loan-leads-bg{
    background:url(#{$imagePath}/conventional-mortgage-loan-leads-bg.jpg) no-repeat center;
    background-position-y:0;
}

.fha-mortgage-loan-leads{
    background:url(#{$imagePath}/fha-mortgage-loan-leads.jpg) no-repeat center;
}

.fha-mortgage-loan-leads-bg{
    background:url(#{$imagePath}/fha-mortgage-loan-leads-bg.jpg) no-repeat center;
}

.va-mortgage-loan-leads-bg{
    background:url(#{$imagePath}/va-mortgage-loan-leads-bg.jpg) no-repeat center;
}

.k-mortgage-loan-leads{
    background:url(#{$imagePath}/203k-mortgage-loan-leads.jpg) no-repeat center;
}

.k-mortgage-loan-leads-bg{
    background:url(#{$imagePath}/203k-mortgage-loan-leads-bg.jpg) no-repeat center;
}

.usda-mortgage-loan-leads{
    background:url(#{$imagePath}/usda-mortgage-loan-leads.jpg) no-repeat center;
}

.usda-mortgage-loan-leads-bg{
    background:url(#{$imagePath}/usda-mortgage-loan-leads-bg.jpg) no-repeat center;
}

.reverse-mortgage-marketing{
    background:url(#{$imagePath}/reverse-mortgage-marketing.jpg) no-repeat center;
}

.heloc-cashout-refinance-leads{
    background:url(#{$imagePath}/heloc-cashout-refinance-leads.jpg) no-repeat center;
}

.heloc-cashout-refinance-leads-bg{
    background:url(#{$imagePath}/heloc-cashout-refinance-leads-bg.jpg) no-repeat center;
}

.becomePersonalLender{
    background:url(#{$imagePath}/become-mortgage-lender.jpg) no-repeat center;
    background-size:cover;
}

.contactBannerNew{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(212, 175, 55, 0.45), 
      rgba(212, 175, 55, 0.45)
    ),
    url(#{$imagePath}/contact-banner-new.jpg) no-repeat top;
    background-size:cover;
}
.our-team{
    background:url(#{$imagePath}/our-team.jpg) no-repeat center;
}

.our-team-bg{
    background:url(#{$imagePath}/our-team-bg.jpg) no-repeat center;
}

.our-partners{
    background:url(#{$imagePath}/our-partners.jpg) no-repeat center;
}

.our-partners-bg{
    background:url(#{$imagePath}/our-partners-bg.jpg) no-repeat center;
}

.licenses-awards-testimonials{
    background:url(#{$imagePath}/licenses-awards-testimonials.jpg) no-repeat center;
}

.licenses-awards-testimonials-bg{
    background:url(#{$imagePath}/licenses-awards-testimonials-bg.jpg) no-repeat center;
}

.newsroom{
    background:url(#{$imagePath}/newsroom.jpg) no-repeat center;
}

.newsroom-bg{
    background:url(#{$imagePath}/newsroom-bg.jpg) no-repeat center;
}

.consumer-finance-marketing-news{
     background:url(#{$imagePath}/consumer-finance-marketing-news.jpg) no-repeat center;
}

.mortgage-advisor{
    background:url(#{$imagePath}/mortgage-advisor.jpg) no-repeat center;
    background-position-y: -10px;
}

.loan-advisor{
    background:url(#{$imagePath}/loan-advisor.jpg) no-repeat center;
}

.about-bg{
     background:url(#{$imagePath}/about-new.jpg) no-repeat center;
}

.heroImage{
    background-attachment: fixed;
}

.formBox{
	padding:50px 80px;
}

.formBox input{
	padding: 30px 20px;
}

.tinted {
	
}

.template3 .boxImage{
	height:400px;
	border:15px solid #fff;
	padding:0 !important;
}

.template3 .boxImage h5{
	width:100%;
	background: rgba(0,130,202,.8);
	color:#fff;
	padding: 30px;
    text-align: center;
    margin-bottom:0;
}

.template3 .boxImage a{
	width:100%;
	height:100%;
}

.formBox2{
	background:#0082ca;
	height: auto;
    border-left:5px solid #fff;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #fff;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #fff;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #fff;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #fff;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/******************************/
/*       Helper Classes       */
/******************************/

.blueBoxContent{
	color:#fff;
	background:#0082ca;
}

.blueBoxContent h3,
.blueBoxContent a,
.blueBoxContent p,
.blueBoxContent div{
	color:#fff;
}

.greenBoxContent{
	color:#fff;
	background:#3DAE2B;
}

.greenBoxContent h3,
.greenBoxContent h4,
.greenBoxContent a,
.greenBoxContent p,
.greenBoxContent li{
	color:#fff;
}

.padMe15{
	padding:15px 0;
}

.padMe30{
	padding:30px 0;
}

.padMe50{
	padding:25px 0;
}

.padMe100{
	//padding:100px 0;
	padding: 60px 0;
}

.padTop100{
	//padding-top:100px;
	padding-top:50px;
}

.marginTop100{
     margin-top:100px;
}

.headerBtn{
     font-size:1.7rem;
}

.orangeBtn{
	padding:15px 30px;
	font-size:1rem;
	background:#f19421;
	color:#fff !important;
	border-radius:30px;
	border:none;
	margin:20px 0 0 0;
	transition: all 0.2s ease-in-out;
	white-space:normal;
}

.orangeBtn:hover{
	background:#f19421;
	transform: scale(1.03);

}

.hollowBtn{
	font-size:1rem;
	background:#f1f2f2;;
	color:#4268B1 !important;
	border-radius:20px;
	border:none;
	width: 250px;
	margin:20px 0 0 0;
	transition: all 0.2s ease-in-out;
	white-space:normal;
	border: 1px solid #4268B1;
}

.hollowBtn{
	background:#f1f2f2;;
	transform: scale(1.03);

}

.greenBtn{
	background:#3DAE2B;
	color:#fff !important;
	border:none;
	margin:20px 0 0 0;
	transition: all 0.2s ease-in-out;
	white-space:normal;
}

.greenBtn:hover{
	background:#93D500;
	transform: scale(1.03);

}

.blueBtn{
	background:#0082ca;
	color:#fff !important;
	border:none;
	margin:20px 0 0 0;
	transition: all 0.2s ease-in-out;
	white-space:normal;
}

.blueBtn:hover{
	background:#35abed;
	transform: scale(1.05);
}

.limeBtn{
	background:#93D500;
	color:#fff !important;
	border:none;
	margin:50px 0;
	transition: all 0.2s ease-in-out;
	white-space:normal;
}

.limeBtn:hover{
	background:#b1d06c;
	transform: scale(1.05);
}

.greyBtn{
	background:#333;
	color:#fff !important;
	border:none;
	margin:50px 0;
	transition: all 0.2s ease-in-out !important;
	white-space:normal;
}

.greyBtn:hover{
	background:#666;
	transform: scale(1.05) !important;
}

.blueHeader{
	color:#0082ca;
}

.newsroomBtn{
	margin:10px 0;
}

.underlineBtn{
	border-bottom:2px solid #fff;
	border-radius:0;
	color:#fff !important;
	font-size:24px;
	padding-left:0;
	margin-top:60px;
}

.greenCall{
	color: #93D500;
	padding-top: .22rem;
}

.greenCall a{
	color:#93d500;
}

.callBtn{
	margin-left:10px;
	width:35px;
}

.houseIcon{
	padding:0 0 30px 0;
}


.shadow{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 4px solid #fff;
}

.lenderForm{
    padding:0 25px;
}

.lenderForm label,
.lenderForm input,{
    font-family:'Raleway', Arial, sans-serif !important;
    font-weight:300 !important;
}

.lenderForm input{
    padding: 10px 6px !important;
}

.contentImg{
    //max-width: 450px;
    margin-top: 20px;
    margin-bottom:20px;
}

.contentSections{
     padding: 0 10%;
}

.max500{
    max-width:500px;
    width:100%;
}

.zoomBox:hover{
    text-decoration:none;
}

.numberCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
    background: transparent;
    border: 2px solid #fff;
    color: #0082ca;
    text-align: center;
    font-size: 29px;
    margin: 0px auto 25px auto;
}

.rebuttalsContainer,
.rebuttalsFrame{
    height:655px;
}

.memberLogo{
    margin:20px;
}

.longHeader{
    font-size: 1.9rem;
}

.aboutImg{
     max-width:450px;
}

/******************************/
/*        Footer              */
/******************************/

footer{
	background:#353636;
}

footer a{
	font-size:12px;
	display:block;
	margin:8px auto;
	color:#fff;
}

.footer-brand img{
	max-width:100%;
}

.socialLink{
	display:inline;
	margin:0 15px;
}

.socialLink img{
	max-width:25px;
}

.footerLinkHeader{
	color:#fff;
	font-size:15px;
	font-weight:bold;
}

.preFooter{
	margin-top:0px;
	background:#3DAE2B;
	color:#fff;
}

.preFooter h1,
.preFooter p,
.preFooter a{
	color:#fff;
}

.preFooter h1{
	margin-bottom:0;
}

.preFooter btn{
	margin:0;
}


.page-become-preferred-mortgage-lender .preFooter,
.page-become-preferred-personal-loan-lender .preFooter,
.page-404 .preFooter{
     margin-top:0;
}

.page-niche-mortgage-lead-generation-programs .preFooter,
.page-loan-marketing-products .preFooter,
.page-fha-va-streamline-mortgage-script .preFooter,
.page-reverse-mortgage-script .preFooter,
.page-debt-consolidationcash-out-mortgage-script .preFooter,
.page-arm-mortgage-script .preFooter,
.page-refinance-mortgage-script .preFooter,
.page-real-estate-prospect-script .preFooter{
	margin-top:40px;
}

blockquote footer{
    background:transparent;
}

.preFooter .tagline{
	font-size: 2.5rem;
    color: #fff;
}

/*********************/
/*    CONTACT FORM   */
/*********************/

.contactForm,
.contactForm span,
.newsroomForm,
.newsroomForm span
.scriptsForm,
.scriptsForm span{
     font-family:"raleway", sans-serif !important;
     color:#fff;
     font-weight:normal !important;
}

.newsroomForm span,
.scriptsForm span{
     color:#0082ca;
}

.blueScript span{
    color:#fff;
}

.contactForm fieldset,
.newsroomForm fieldset,
.scriptsForm fieldset{
     max-width:100% !important;
}

.contactForm input,
.newsroomForm input,
.scriptsForm input{
    padding: 10px 20px !important;
    display: block !important;
    width: 80% !important;
    height: calc(2.25rem + 2px) !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    font-weight: normal !important;
    font-family: "raleway", sans-serif !important;
    max-width:80% !important;
}

.scriptsForm .form-columns-2 .hs-form-field{
    width:44.5% !important;
}

.blueScript{
     margin-top:25px;
}

.blueScript input,
.whiteScript input{
    padding: 10px 10px !important;
    display: block !important;
    width: 80% !important;
    height: 20px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    font-weight: normal !important;
    font-family: "raleway", sans-serif !important;
    max-width:80% !important;
}

    .blueScript fieldset:nth-child(2),
    .blueScript fieldset:nth-child(4),
    .whiteScript fieldset:nth-child(2),
    .whiteScript fieldset:nth-child(4){
         width:50%;
         float:left;
    }


@media (min-width:1200px){
    .contactForm fieldset:nth-child(2),
    .contactForm fieldset:nth-child(4),
    .newsroomForm fieldset:nth-child(2),
    .newsroomForm fieldset:nth-child(4){
         width:50%;
         float:left;
    }
}

.contactForm .hs-button,
.newsroomForm .hs-button{
    background: #3dae2b !important;
    color: #fff !important;
    border: none !important;
    margin: 0 auto !important;
    transition: all 0.2s ease-in-out !important;
    box-shadow:none !important;
    max-width:25% !important;
    text-shadow:none !important;
}

.contactForm .hs-button:hover,
.newsroomButton .hs-button:hover{
    background: #93d500 !important;
    transform: scale(1.03);
}

.newsroomForm{
	margin-top:30px;
}

/* Extended form */

.hs-form-checkbox {

	@media (min-width:485px){
    	width: 50% !important;
    	float: left;
    	position: relative;
    }

    @media (min-width:1600px){
        width: 33% !important;
    }
}

input.hs-input{
    box-shadow:none !important;
}

.contactForm .hs_product_type__c input{
    height: auto !important;
    display: inline !important;
    width: auto !important;
}

.page-home .box1{
	@media(min-width:767px){
		height:757px;
	}
}

.page-home .boxImage,
.page-mortgage-marketing .boxImage{
	margin-top:0;
}

.scriptBox{
	background-position-x:-1000px;
	height:auto;
}

.fha-mortgage-loan-leads-bg.scriptBox{
	background-position-x:-250px;
}

.page-reverse-mortgage-script .reverseMtgHero{
	background-attachment:inherit;
}

.noTopMargin{
	margin-top:0 !important;
}

.noTopPadding{
	padding-top:0 !important;
}
.blueBoxContent p, .blueBoxContent div .with-errors {
	color:#ff0000;
	font-weight:bold;
}
@import "responsive";

