@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");

$black: #000;
$gray: #9ea3a4;
$blue: #157bd1;

$primary: $blue !default;
$primary-md: darken($primary, 10%) !default;

// -------------------------- COMMON --------------------------------------------------

// extendables
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

// common
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 16px;
}

p, ul, li {
  color: #666;
  line-height: 1.6em;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  color: $primary;
  cursor: pointer;

  &:hover {
    color: $primary-md;
    text-decoration: none;
  }
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.left {
  float: left;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.container > div {
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  > div {
    margin-bottom: 40px;
    clear: both;

    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
}

select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

// header
.header {
  background: white;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #ddd;

  .header-brand a {
    background-image: url("../images/loan-advisor-logo.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin: auto;
    width: 300px;
    height: 42px;
    text-indent: -9999px;
    margin-right: 10px;
    background-size: contain;
    margin-top: 10px;
  }
}

// form
.footer {
  clear: both;
  overflow: auto;
  padding: 30px 60px;
  text-align: center;

  .footer-logo {
    width: 300px;
  }

  p {
    color: #999;
    text-align: center;
  }
}

// privacy and terms

#privacy {
  h1 {
    font-size: 30px;
    color: $primary;
    text-shadow: none;
    font-weight: 500;
  }

  h2 {
    font-size: 20px;
    color: $primary;
    font-weight: 500;
    border-bottom: 3px solid $primary;
    padding-bottom: 10px;
    margin: 20px 0 10px;
    text-align: left;
  }
}

//////////////////////////////////////  MEDIA QUERIES  ///////////////////////////////////////

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

//bootstrap breakpoint

@media (min-width: 992px) {
  .body {
    padding: 30px;
  }

  .container > div {
    padding-left: 60px;
    padding-right: 60px;
  }
}

// Responsive: Landscape phone to desktop/tablet

@media (min-width: 769px) {
  .form-container {
    margin-top: -68px;
  }
}

@media (max-width: 768px) {
  .form-banner {
    background-size: cover;
    display: inline-block;
    padding: 0 !important;

    h1 {
      text-align: center;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}

// UP TO LANDSCAPE PHONE
// ---------------------
@media (max-width: 480px) {
  .container > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-banner {
    background-size: contain;

    h1 {
      font-size: 28px;
    }
  }

  .form-container {
    padding: 0;
    background-size: contain;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;

    .form-body {
      padding: 15px;
    }
  }

  // privacy
  #privacy {
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 18px;
    }
  }
}
